<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Juniper subriscriber real-time bandwidth">
    <meta name="author" content="Leandro Fabris Milani">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon.png') }}">
    {% if title %}
        <title> {{ title }}</title>
    {% else %}
        <title> JuniperBandwidth </title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/fontawesome-all.js') }}"></script>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Juniper Bandwidth</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
  </main>
  {% block content %}
  {% endblock content %}
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p><small>Developed by Leandro Fabris Milani</small></p>
    </div>
  </footer>
</div>
</body>
</html>
