{% extends "layout.html" %}
{% block content %}
<div id="info" style="display: none;">
    <div class="card-deck">
        <div class="card text-white bg-secondary" >
            <div class="card-header"><i class="fas fa-user fa-lg"></i> PPPoE</div>
            <div class="card-body">
                <p id="pppoe" class="card-text"></p>
            </div>
            <div class="card-footer">
                <small id="ipaddress"></small>
            </div>
        </div>
        <div class="card text-white bg-danger" >
            <div class="card-header"><i class="fas fa-download fa-lg"></i> Download</div>
            <div class="card-body">
                <h4 id="download" class="card-text"></h4>
            </div>
            <div class="card-footer">
                <small id="filterout"></small>
            </div>
        </div>
        <div class="card text-white bg-primary" >
            <div class="card-header"><i class="fas fa-upload fa-lg"></i> Upload</div>
            <div class="card-body">
                <h4 id="upload" class="card-text"></h4>
            </div>
            <div class="card-footer">
                <small id="filterin"></small>
            </div>
        </div>
    </div>
</div>
<div id="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div id="alert" class="alert alert-danger" style="display: none;"></div>
<div id="chart" style="height: 250px; width: 100%;"></div>
<div id="pause" class="custom-control custom-switch" style="display: none;">
    <input value="Pause" type="checkbox" class="custom-control-input" id="pause_continue" onclick="pause_continue();">
    <label class="custom-control-label" for="pause_continue">Pause</label>
</div>
<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/server-sent-events.js') }}"></script>
{% endblock content %}