{% extends "layout.html" %}
{% block content %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>
				window.onload = function() {
				
				
				var yValue1 = 0;
				var yValue2 = 0;
				var username = "";
				var speedUP = 'kbps'
				var speedDown = 'kbps'
				
				//colocar if do undeffined (se o navegador nao suportar)
				var source = new EventSource("/data");
				source.onmessage = function(event) {
					console.log(event.data);
					var data = JSON.parse(event.data);

					if (data['error']){
						var msg = data['error'];
						source.close();
						console.log(msg);
						document.getElementById("info").className = 'alert alert-danger';
						document.getElementById("info").innerHTML = msg;
					}else{
						var up = data["up"];
						var down = data["down"];
						username = data["username"];
						yValue1 = down;
						yValue2 = up;
						//document.getElementById("info").innerHTML = "down=" + down + " kbps - up= "+up+" kbps";
						updateChart();
					}						
				}
				
				var timestamp = new Date().getTime();
				var updateInterval = 2000;
				//var xValue = <?php// echo $x ?>;
				var xValue = timestamp;
				//var xValue = ((timestamp * 1000) - updateInterval);
				var xxValue = (timestamp * 1000 - updateInterval);
				
				
				var dataPoints1 = JSON.parse(`[{"x":${xValue},"y":0}]`);
				var dataPoints2 = JSON.parse(`[{"x":${xValue},"y":0}]`);
				 
				var chart = new CanvasJS.Chart("chartContainer", {
					zoomEnabled: true,
					theme: "dark1",
					title: {
						text: "Consumo de banda do PPPoE: " + username + ""
					},
					axisX: {
						title: "Atualiza a cada " + updateInterval / 1000 + " segundos"
					},
					axisY:{
						suffix: " kbps",
						includeZero: false
					}, 
					toolTip: {
						shared: true
					},
					legend: {
						cursor:"pointer",
						verticalAlign: "top",
						fontSize: 22,
						fontColor: "dimGrey",
						itemclick : toggleDataSeries
					},
					data: [{ 
							type: "line",
							name: "Download",
							xValueType: "dateTime",
							yValueFormatString: "#,### kbps",
							xValueFormatString: "hh:mm:ss TT",
							showInLegend: true,
							legendText: "{name} " + yValue1 + " " + speedDown,
							dataPoints: dataPoints1
						},
						{				
							type: "line",
							name: "Upload" ,
							xValueType: "dateTime",
							yValueFormatString: "#,### kbps",
							showInLegend: true,
							legendText: "{name} " + yValue2 + " " + speedUP,
							dataPoints: dataPoints2
					}]
				});
				
				chart.render();
				
				//setInterval(function(){updateChart()}, updateInterval);
				 
				function toggleDataSeries(e) {
					if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
						e.dataSeries.visible = false;
					}
					else {
						e.dataSeries.visible = true;
					}
					chart.render();
				}
				 
				function updateChart() {
					var deltaY1, deltaY2;
					xValue += updateInterval;
					// adding random value
					//yValue1 += Math.round(2 + Math.random() *(-2-2));
					//yValue2 += Math.round(2 + Math.random() *(-2-2));
				
				 
					// pushing the new values
					dataPoints1.push({
						x: xValue,
						y: yValue1
					});
					dataPoints2.push({
						x: xValue,
						y: yValue2
					});
				 
					// updating legend text with  updated with y Value 
					chart.options.data[0].legendText = "Download " + yValue1 + " " + speedDown;
					chart.options.data[1].legendText = "Upload " + yValue2+ " " + speedUP; 
					chart.options.title.text = "Consumo de banda do PPPoE: " + username;
					chart.render();
				}
				 
				}
				</script>
<div id="info"></div>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock content %}